ol.breadcrumb {
    @apply flex mb-4;
}

ol.breadcrumb li {
    @apply text-lg font-semibold text-blue-700 mr-2;
}

ol.breadcrumb li a{
    @apply text-blue-400;
}

ol.breadcrumb li a:hover {
    @apply text-blue-700;
}

ol.breadcrumb li::after {
    content: ">";
    margin-left: 12px;
}

ol.breadcrumb li.active::after {
    content: "";
}

@screen md {
    ol.breadcrumb li {
        @apply text-xl;
    }
}

@screen lg {
    ol.breadcrumb li {
        @apply text-2xl;
    }
}
